BallSelling/workflows/salesflow_simplified.json
{
  "name": "SalesFlow-Demo",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [-1080, 180],
      "id": "gmail-trigger",
      "name": "Email Monitor",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "YOUR_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false
      },
      "type": "n8n-nodes-base.gmail",
      "position": [-880, 180],
      "name": "Get Email Details",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "YOUR_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "emailData",
              "value": "=From: {{ $json.From }}\nSubject: {{ $json.Subject }}\nContent: {{ $json.snippet }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "position": [-580, 180],
      "name": "Prepare Email Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this email and determine:\n\n1. Is this a sale notification?\n2. Which channel did it come from?\n   - WEB (website orders)\n   - MARKETPLACE (platform sales)\n   - OTHER (other channels)\n3. Basic sale information\n\nContext: {{ $json.emailData }}\n\nProvide only:\n{\n  \"isSale\": boolean,\n  \"channel\": string,\n  \"details\": {\n    \"product\": string,\n    \"customer\": string\n  }\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [-360, 180],
      "name": "Basic Sale Classifier"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [-360, 400],
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_API_KEY",
          "name": "Groq - Demo"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"isSale\": {\n      \"type\": \"boolean\"\n    },\n    \"channel\": {\n      \"type\": \"string\"\n    },\n    \"details\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"product\": {\n          \"type\": \"string\"\n        },\n        \"customer\": {\n          \"type\": \"string\"\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [-200, 400],
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "value1": "={{ $json.isSale }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "position": [0, 180],
      "name": "Is Sale?"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "value": "YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "value": "YOUR_AIRTABLE_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Channel": "={{ $json.channel }}",
            "Product": "={{ $json.details.product }}",
            "Customer": "={{ $json.details.customer }}"
          }
        }
      },
      "type": "n8n-nodes-base.airtable",
      "position": [240, 180],
      "name": "Save Sale",
      "credentials": {
        "airtableApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "YOUR_AIRTABLE_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ *New Sale Detected*\n\n📦 *Product:* {{ $json.details.product }}\n👤 *Customer:* {{ $json.details.customer }}\n🏷️ *Channel:* {{ $json.channel }}\n📅 *Date:* {{ new Date().toLocaleDateString('en-US', { day: '2-digit', month: '2-digit', year: 'numeric' }) }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "position": [480, 180],
      "name": "Send Notification",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "connections": {
    "Email Monitor": {
      "main": [
        [
          {
            "node": "Get Email Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Details": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Basic Sale Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic Sale Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic Sale Classifier",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic Sale Classifier": {
      "main": [
        [
          {
            "node": "Is Sale?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Sale?": {
      "main": [
        [
          {
            "node": "Save Sale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Sale": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires"
  }
} 